In [1]:
# Preliminares 

import re
import pandas as pd

In [2]:
# Datos 

ubicaciones_clientes = pd.read_excel("../Limpia/Ubicaciones_direcciones.xlsx")
tareas = pd.read_excel("../Limpia/Tareas-limpio.xlsx")

In [3]:
tareas.info()
tareas.sample(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1286 entries, 0 to 1285
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CODIGO    1286 non-null   int64
 1   PROYECTO  1286 non-null   object
dtypes: int64(1), object(1)
memory usage: 20.2+ KB

     CODIGO              PROYECTO
565   11881  Ruta Alejandro Lunes
288   82124   Ruta Hugo Miercoles

In [4]:
# check 
ubicaciones_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CODIGO     720 non-null    int64
 1   NOMCLI     720 non-null    object
 2   LATITUD    720 non-null    float64
 3   UBICACIN  720 non-null    object
 4   LONGITUD   720 non-null    float64
 5   FECHA      720 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 33.9+ KB

In [5]:
# Sacamos Fecha

ubicaciones_clientes =ubicaciones_clientes.drop(columns=["FECHA"])
ubicaciones_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CODIGO     720 non-null    int64
 1   NOMCLI     720 non-null    object
 2   LATITUD    720 non-null    float64
 3   UBICACIN  720 non-null    object
 4   LONGITUD   720 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 28.2+ KB

In [6]:
tareas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1286 entries, 0 to 1285
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CODIGO    1286 non-null   int64
 1   PROYECTO  1286 non-null   object
dtypes: int64(1), object(1)
memory usage: 20.2+ KB

In [7]:
# Hay columnas repetidas tanto en codigo como proyecto, limpiamos.- 

tareas = tareas.drop_duplicates(subset=["CODIGO","PROYECTO"], keep="first")
tareas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1127 entries, 0 to 1285
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CODIGO    1127 non-null   int64
 1   PROYECTO  1127 non-null   object
dtypes: int64(1), object(1)
memory usage: 26.4+ KB

In [8]:
# Union pero manteniendo tambien los que no tienen proyecto para poder visibilizarlo en el mapa: 

Tabla_Proyectos_Clientes = pd.merge(ubicaciones_clientes, tareas[['CODIGO', 'PROYECTO']], on='CODIGO', how='left')

Tabla_Proyectos_Clientes['PROYECTO'].fillna('sin proyecto', inplace=True)


Tabla_Proyectos_Clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1228 entries, 0 to 1227
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CODIGO     1228 non-null   int64
 1   NOMCLI     1228 non-null   object
 2   LATITUD    1228 non-null   float64
 3   UBICACIN  1228 non-null   object
 4   LONGITUD   1228 non-null   float64
 5   PROYECTO   1228 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 57.7+ KB

C:\RTEMP\ipykernel_19804\488973835.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tabla_Proyectos_Clientes['PROYECTO'].fillna('sin proyecto', inplace=True)

In [9]:
# Ordeno como estaban: 

Tabla_Proyectos_Clientes = Tabla_Proyectos_Clientes[['CODIGO', 'PROYECTO', 'NOMCLI', 'UBICACIN', 'LATITUD', 'LONGITUD']]
Tabla_Proyectos_Clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1228 entries, 0 to 1227
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CODIGO     1228 non-null   int64
 1   PROYECTO   1228 non-null   object
 2   NOMCLI     1228 non-null   object
 3   UBICACIN  1228 non-null   object
 4   LATITUD    1228 non-null   float64
 5   LONGITUD   1228 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 57.7+ KB

In [10]:
Tabla_Proyectos_Clientes.sample(30)

,CODIGO,PROYECTO,NOMCLI,UBICACIN,LATITUD,LONGITUD
689,82122,Ruta Hugo Martes,NUEVOS RUMBOS SALINAS,"http://maps.google.com/?q=-34.7659416559647,-5...",-34.765942,-55.836638
80,81222,Ruta Martin Viernes,"81222,LOS GURICES",Marcador 7\n2024/10/17 @ 10:12:33\nhttp://maps...,-34.737791,-55.873839
130,82185,Ruta Hugo Jueves,"82185, ALMACEN NIVEKA",Marcador 33\n2024/10/18 @ 17:24:25\nhttp://map...,-34.772231,-55.819857
871,82105,Ruta Hugo Martes,LA ESPERANZA,"http://maps.google.com/?q=-34.77037836480874,-...",-34.770378,-55.863003
1006,12993,Ruta Hugo Jueves,KIOSCO TUBICHA,"http://maps.google.com/?q=-34.77036128934886,-...",-34.770361,-55.834374
538,82116,Ruta Hugo Viernes,"82116,KIOSCO LOS PARAISOS","Marcador 346\nlat/lng: -34.74701,-55.76863\n[h...",-34.747010,-55.768630
163,81215,Visitas periodicas Martin,"**81215,** **MINIMARKET FERRETERIA**",Marcador 44\n2024/10/21 @ 15:45:41\nhttp://map...,-34.773440,-55.739722
816,22644,Ruta Dario Jueves,IVAN JUAREZ,"http://maps.google.com/?q=-34.75438427180358,-...",-34.754384,-55.675690
293,80309,Ruta Hugo Miercoles,Los hermanos,"http://maps.google.com/?q=-34.734095, -55.767212",-34.734095,-55.767212
902,21430,Ruta Martin Miercoles,ALMACEN ADRIANA Y OSCAR,"http://maps.google.com/?q=-34.49313484655759,-...",-34.493135,-55.568652
380,41711,Ruta Hugo Lunes,"41711, DARAMEX","Marcador 195\nlat/lng: (-34.74236,-55.76421)\n...",-34.742360,-55.764210
1083,41998,sin proyecto,THALIA ex La Bomba,"http://maps.google.com/?q=-34.74417797623355,-...",-34.744178,-55.767481
931,23245,sin proyecto,TATIANA JARA (ex Carlos Otero),"http://maps.google.com/?q=-34.78971405533106,-...",-34.789714,-55.475526
812,23215,sin proyecto,PIZZERIA SUNSET,"http://maps.google.com/?q=-34.76941855323466,-...",-34.769419,-55.658225
954,85017,Visitas periodicas Martin,Marcela,"http://maps.google.com/?q=-34.773839652828634,...",-34.773840,-55.848566
708,81124,sin proyecto,FERNANDO Las Toscas,"http://maps.google.com/?q=-34.765441206459485,...",-34.765441,-55.743631
359,11576,Ruta Martin Miercoles,"11576, BREMPI","Marcador 192\nlat/lng: (-34.76568,-55.755)\n[h...",-34.765680,-55.755000
903,21430,Ruta Martin Sabado,ALMACEN ADRIANA Y OSCAR,"http://maps.google.com/?q=-34.49313484655759,-...",-34.493135,-55.568652
1106,11990,sin proyecto,AGRANDADITO,"http://maps.google.com/?q=-34.74079010760927,-...",-34.740790,-55.714559
1090,41999,sin proyecto,EL TREBOL,"http://maps.google.com/?q=-34.77266782149281,-...",-34.772668,-55.812671
965,22902,Visitas Periodicas Dario,Provisi贸n Avril (Costa Azul),"http://maps.google.com/?q=-34.759850948962054,...",-34.759851,-55.661261
860,82019,Ruta Hugo Miercoles,Kiosco (estacion atlantida. gariboti),"http://maps.google.com/?q=-34.74046583250509,-...",-34.740466,-55.764763
435,13085,Ruta Alejandro Jueves,"13085,BONN APETITT","Marcador 28\nlat/lng: (-34.79004,-55.8775)\n[h...",-34.790040,-55.877500
92,81159,Visitas periodicas Martin,"81159,KIOSCO PASO Y QUIERO, Visitar (supervisa...",Marcador 17\n2024/10/17 @ 11:32:39\nhttp://map...,-34.779844,-55.837944
862,82019,Creditos Hugo,Kiosco (estacion atlantida. gariboti),"http://maps.google.com/?q=-34.74046583250509,-...",-34.740466,-55.764763
367,62867,Ruta Martin Lunes,"62867, GORDIOLA Ma SUSANA","Marcador 153\nlat/lng: (-34.77486,-55.76235)\n...",-34.774860,-55.762350
406,42675,sin proyecto,"42675,EDUARDO RODRIGUEZ","Marcador 77\nlat/lng: (-34.73544,-55.87432)\n[...",-34.735440,-55.874320
962,82018,sin proyecto,El encuentro ( Salinas norte. gonzalo),"http://maps.google.com/?q=-34.765927058416146,...",-34.765927,-55.840530
219,82157,Ruta Hugo Viernes,"82157,LA Esperanza (Estaci贸n Atlantida)","http://maps.google.com/?q=-34.733856,-55.769263",-34.733856,-55.769263
43,80233,Creditos Dario,"80233,** **MINIMARKET y ROTI EL REPECHO**",Marcador 62\n2024/10/28 @ 10:59:28\nhttp://map...,-34.769056,-55.577955

## Exportamos

In [11]:
# Exportamos 
Tabla_Proyectos_Clientes.to_excel('../Limpia/Tabla_Proyectos_Clientes.xlsx', index=False)