In [1]:
# Preliminares 

import re
import pandas as pd

In [34]:
# Datos 

ubicaciones_clientes = pd.read_excel("../Limpia/Ubicaciones_direcciones.xlsx")
tareas = pd.read_excel("../Limpia/Tareas-limpio.xlsx")

In [35]:
tareas.info()
tareas.sample(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1724 entries, 0 to 1723
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PROYECTO      1724 non-null   object
 1   TAREACLIENTE  1724 non-null   object
 2   CODIGO        1719 non-null   float64
 3   PERIODICIDAD  1459 non-null   object
 4   ORDEN         1670 non-null   float64
 5   TIPO          1724 non-null   object
dtypes: float64(2), object(4)
memory usage: 80.9+ KB

,PROYECTO,TAREACLIENTE,CODIGO,PERIODICIDAD,ORDEN,TIPO
361,Ruta Hugo Jueves,"13006,ALMACEN LA FAMILIA - Salinas Norte",13006.0,cada jue,9.0,Ruta
720,Ruta Dario Sabado,"80239, BETTY GARRIDO MI ABUELA, La Floresta",80239.0,cada sab,32.0,Ruta

In [36]:
# check 
ubicaciones_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 738 entries, 0 to 737
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CODIGO     738 non-null    int64
 1   NOMCLI     737 non-null    object
 2   LATITUD    738 non-null    float64
 3   LONGITUD   738 non-null    float64
 4   UBICACI√ìN  738 non-null    object
 5   FECHA      738 non-null    datetime64[ns]
 6   METODO     738 non-null    object
 7   CONFIANZA  738 non-null    int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 46.2+ KB

In [37]:
# Sacamos Fecha

ubicaciones_clientes =ubicaciones_clientes.drop(columns=["FECHA"])
ubicaciones_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 738 entries, 0 to 737
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CODIGO     738 non-null    int64
 1   NOMCLI     737 non-null    object
 2   LATITUD    738 non-null    float64
 3   LONGITUD   738 non-null    float64
 4   UBICACI√ìN  738 non-null    object
 5   METODO     738 non-null    object
 6   CONFIANZA  738 non-null    int64
dtypes: float64(2), int64(2), object(3)
memory usage: 40.5+ KB

In [38]:
ubicaciones_clientes.head(5)

,CODIGO,NOMCLI,LATITUD,LONGITUD,UBICACI√ìN,METODO,CONFIANZA
0,82122,NUEVOS RUMBOS SALINAS,-34.765666,-55.837849,"http://maps.google.com/?q=-34.7656659,-55.8378493",google_q_param,90
1,81227,LA ESQUINA jacqueline vanesca (cobranza),-34.780645,-55.838592,"http://maps.google.com/?q=-34.78064530920805,-...",google_q_param,90
2,11941,"11941, LO DE RAMON",-34.766682,-55.742948,"http://maps.google.com/?q=-34.76668227159642,-...",google_q_param,90
3,80318,"80318,MINIMARKET LA 10",-34.761506,-55.747363,"http://maps.google.com/?q=-34.76150608583312,-...",google_q_param,90
4,80324,"80324,KIOSCO FANTASIA",-34.774175,-55.762672,"http://maps.google.com/?q=-34.774175363604215,...",google_q_param,90

In [39]:
tareas['CODIGO'] = tareas['CODIGO'].astype('Int64')

In [40]:
tareas.head(5)

,PROYECTO,TAREACLIENTE,CODIGO,PERIODICIDAD,ORDEN,TIPO
0,Ruta Dario Lunes,"11975, DUNAS,PARQUE DEL PLATA NORTE ,3%dto",11975,cada lunes,1.0,Ruta
1,Ruta Dario Lunes,"11629, MOUNTLINE S.A. (pasa pedido y se entreg...",11629,cada lun 9:00,2.0,Ruta
2,Ruta Dario Lunes,"62783,ANDREA ESCOBAR,( pasar a cobrar)",62783,cada lun 9:00,3.0,Ruta
3,Ruta Dario Lunes,"80233,MINIMARKET Y ROTI EL REPECHO, San Luis,",80233,cada lunes,4.0,Ruta
4,Ruta Dario Lunes,"80203, KIOSCO LO NUESTRO (Poner ubicacion en c...",80203,cada vie,5.0,Ruta

In [41]:
tareas = tareas.drop(columns=['TAREACLIENTE'])

In [42]:
tareas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1724 entries, 0 to 1723
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PROYECTO      1724 non-null   object
 1   CODIGO        1719 non-null   Int64
 2   PERIODICIDAD  1459 non-null   object
 3   ORDEN         1670 non-null   float64
 4   TIPO          1724 non-null   object
dtypes: Int64(1), float64(1), object(3)
memory usage: 69.2+ KB

In [43]:
# Hay columnas repetidas tanto en codigo como proyecto, limpiamos.- 

tareas = tareas.drop_duplicates(subset=["CODIGO","PROYECTO"], keep="first")
tareas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1087 entries, 0 to 1723
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PROYECTO      1087 non-null   object
 1   CODIGO        1084 non-null   Int64
 2   PERIODICIDAD  929 non-null    object
 3   ORDEN         1033 non-null   float64
 4   TIPO          1087 non-null   object
dtypes: Int64(1), float64(1), object(3)
memory usage: 52.0+ KB

In [44]:
# Union pero manteniendo tambien los que no tienen proyecto para poder visibilizarlo en el mapa: 

Tabla_Proyectos_Clientes = pd.merge(ubicaciones_clientes,
                                    tareas[['CODIGO', 'PROYECTO', "PERIODICIDAD", "ORDEN", "TIPO"]],
                                    on='CODIGO',
                                    how='left')

Tabla_Proyectos_Clientes['PROYECTO'].fillna('sin proyecto', inplace=True)


Tabla_Proyectos_Clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1173 entries, 0 to 1172
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CODIGO        1173 non-null   int64
 1   NOMCLI        1170 non-null   object
 2   LATITUD       1173 non-null   float64
 3   LONGITUD      1173 non-null   float64
 4   UBICACI√ìN     1173 non-null   object
 5   METODO        1173 non-null   object
 6   CONFIANZA     1173 non-null   int64
 7   PROYECTO      1173 non-null   object
 8   PERIODICIDAD  743 non-null    object
 9   ORDEN         841 non-null    float64
 10  TIPO          882 non-null    object
dtypes: float64(3), int64(2), object(6)
memory usage: 100.9+ KB

In [45]:
Tabla_Proyectos_Clientes.head()

,CODIGO,NOMCLI,LATITUD,LONGITUD,UBICACI√ìN,METODO,CONFIANZA,PROYECTO,PERIODICIDAD,ORDEN,TIPO
0,82122,NUEVOS RUMBOS SALINAS,-34.765666,-55.837849,"http://maps.google.com/?q=-34.7656659,-55.8378493",google_q_param,90,Ruta Hugo Martes,CADA MARTES,13.0,Ruta
1,82122,NUEVOS RUMBOS SALINAS,-34.765666,-55.837849,"http://maps.google.com/?q=-34.7656659,-55.8378493",google_q_param,90,Ruta Hugo Jueves,CADA JUEVES,12.0,Ruta
2,82122,NUEVOS RUMBOS SALINAS,-34.765666,-55.837849,"http://maps.google.com/?q=-34.7656659,-55.8378493",google_q_param,90,Ruta Hugo Sabado,CADA sab,19.0,Ruta
3,82122,NUEVOS RUMBOS SALINAS,-34.765666,-55.837849,"http://maps.google.com/?q=-34.7656659,-55.8378493",google_q_param,90,üí≤Creditos Hugo,NaN,53.0,üí≤Cre
4,81227,LA ESQUINA jacqueline vanesca (cobranza),-34.780645,-55.838592,"http://maps.google.com/?q=-34.78064530920805,-...",google_q_param,90,Ruta Hugo Jueves,cada jue,38.0,Ruta

In [46]:
# Ordeno como estaban: 

Tabla_Proyectos_Clientes = Tabla_Proyectos_Clientes[['CODIGO', 'NOMCLI', "PROYECTO", "PERIODICIDAD", "ORDEN", "TIPO"]]
Tabla_Proyectos_Clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1173 entries, 0 to 1172
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CODIGO        1173 non-null   int64
 1   NOMCLI        1170 non-null   object
 2   PROYECTO      1173 non-null   object
 3   PERIODICIDAD  743 non-null    object
 4   ORDEN         841 non-null    float64
 5   TIPO          882 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 55.1+ KB

In [47]:
Tabla_Proyectos_Clientes.sample(30)

,CODIGO,NOMCLI,PROYECTO,PERIODICIDAD,ORDEN,TIPO
575,62613,"62613, FRINDOR",Ruta Hugo Miercoles,cada mie,30.0,Ruta
777,80109,PANADERIA PAL MATE(LA FLORESTA),Ruta Alejandro Martes,CADA MARTES,NaN,Ruta
25,82100,"82100,Almacen La Caba√±a (City Golf)",üóû Visitas periodicas Mauricio,CADA 56 DIAS,65.0,üóûÔ∏è V
375,62619,"62619,LETICIA COSTA",sin proyecto,NaN,NaN,NaN
1140,23155,MITONES LUIS BRUSTTI,üí≤Creditos Alejandro,NaN,16.0,üí≤Cre
894,80067,Bar y Pizzer√≠a La Roca,Ruta Dario Lunes,cada lunes,20.0,Ruta
910,82018,El encuentro ( Salinas norte. gonzalo),sin proyecto,NaN,NaN,NaN
502,41935,"41935, AQU√ç Y AHORA",Ruta Hugo Lunes,cada lunes,8.0,Ruta
1104,22163,CARLOS TOBLER,üóû Visitas Periodicas Dario,cada 28 dia,22.0,üóûÔ∏è V
620,82004,Almacen (Salinas norte. gonzalo),üóû Visitas periodicas Hugo,cada 2 meses,52.0,üóûÔ∏è V
969,12282,ANABELLA GONZALEZ,üí≤Creditos Hugo,cada mart,63.0,üí≤Cre
517,11975,"11975, DUNAS,PARQUE DEL PLATA NORTE",Ruta Dario Viernes,cada viernes,41.0,Ruta
689,85029,EL ENCUENTRO. Tabar√©,sin proyecto,NaN,NaN,NaN
490,82116,"82116,KIOSCO LOS PARAISOS",Ruta Hugo Miercoles,cada mi√©rcoles,6.0,Ruta
1119,22144,PANADERIA FLORESTA,Ruta Dario Martes,cada martes,2.0,Ruta
557,82176,"82176,MINI TODO PATY",Ruta Hugo Jueves,CADA JUEVES,11.0,Ruta
955,12475,ALMACEN AGUSTINA,sin proyecto,NaN,NaN,NaN
371,11867,"11867, ALEJANDRO MARTINEZ (S)",Ruta Hugo Lunes,cada lun 9:00,12.0,Ruta
492,82116,"82116,KIOSCO LOS PARAISOS",üí≤Creditos Hugo,NaN,48.0,üí≤Cre
1099,61833,DOBENCO S.A.,Ruta Dario Jueves,CADA JUE,30.0,Ruta
573,81106,"81106,EDUARDO MALVASIO,NUESTRAS DELICIAS",sin proyecto,NaN,NaN,NaN
556,82176,"82176,MINI TODO PATY",Ruta Hugo Martes,CADA MARTES,9.0,Ruta
50,11548,"11548, NHAIR ABAD,PORTUARIOS",sin proyecto,NaN,NaN,NaN
360,12951,"12951,ALMACEN JUAN",Ruta Hugo Lunes,cada lun 9:00,22.0,Ruta
582,80153,TUTTA FRUTTA,Ruta Dario Jueves,CADA JUEVES,9.0,Ruta
467,11988,"11988, PARRILLADA CAYETANO",sin proyecto,NaN,NaN,NaN
594,80074,AUTOSERVICE LA ESPERANZA,Ruta Dario Miercoles,CADA MIERCOLES,6.0,Ruta
741,81119,SUSANA PE√ëA,sin proyecto,NaN,NaN,NaN
132,62008,"62008,HENDERSON",üí≤Creditos Administracion,NaN,14.0,üí≤Cre
177,81147,"81147,LO CIPRESES,GUILLERMINA. Informar situaci√≥n",Ruta Alejandro Jueves,cada jueves,10.0,Ruta

## Exportamos

In [49]:
# Exportamos 
Tabla_Proyectos_Clientes.to_excel('../Limpia/Tabla_Proyectos_Clientes.xlsx', index=False)